# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
*.env

# Site packages (virtual environment)
.env/
venv/
ENV/

# Static files (generated)
staticfiles/
media/

# Database
db.sqlite3
*.sqlite3

# Log files
logs/
*.log

# Ignore migration files except __init__.py
**/migrations/!(__init__).py

# Ignore secret key settings
secret_key.py

# IDE specific files
.vscode/

# Ignore pipenv or poetry lock files
Pipfile.lock
poetry.lock

# Ignore any other project specific files or directories